@*
    
*@
@{
    ViewData["Title"] = "Alta Cadete";
}
<div class="text-center">
    <h1 class="display-4">Alta Cadete</h1>
</div>

<form class="row g-3" asp-action="AltaCadete" method="post">
    <div class="col-md-6">
        <label for="nya" class="form-label">Apellido y Nombre:</label>
        <input type="text" class="form-control" name="nombre" value="" id="nya" required />
    </div>
    <div class="col-md-6">
        <label for="telf" class="form-label">Telefono: </label>
        <input type="text" class="form-control" id="telf" name="telf" value="" required />
    </div>
    <div class="col-12">
        <label for="direccion" class="form-label">Direccion: </label>
        <input type="text" class="form-control" id="direccion" name="direccion" value="" required />
    </div>
    <br />
    <div class="col-12">
        <button type="submit" class="btn-info btn-success btn-lg">Eviar</button>
    </div>
</form>