@{
    ViewData["Title"] = "Pedidos";
}

@model List<WebApp.Entidades.Pedido>

<div class="text-center">
    <h1 class="display-4">Pedidos</h1>
</div>
<p><a class="btn-info btn-success btn-lg" asp-action="CrearPedido">Crear Pedido</a>.</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Numero de Pedido</th>
            <th scope="col">Cliente</th>
            <th scope="col">Observacion</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Num</td>
                <td>@item.Cliente</td>
                <td>@item.Obs</td>  
                <td>@item.Estado</td>
                
            </tr>
        }

    </tbody>
</table>
